<!DOCTYPE html>
<html>
    <head>
        <title>LABS</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
      <div class = "ff-body">
        <h3>This is the Labs Page. Start a new project</h3>

        <form action="/createlab" method="post">
          <input name ="title" type="text" placeholder="Project Title" /><br />
          <input name ="text" type="text" placeholder="Project Description" /><br />
          <input name ="type" type="text" placeholder="Project Type" /><br />
          <input type="submit" value="Submit" />
        </form>
      </div>



    </body>
</html>
