<!DOCTYPE html>
<html>
  <head>
    <title>Entry | {{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background:#f9f9f9">
    <h3 style="margin-left:16px">LAB PAGE</h3>
    	<div style="background:#fff;margin-left:16px;padding:8px 8px 8px 0px">
	    	Name of Project:{{ title }}
	    	Project Description:{{ text }}
	    	Project Category:{{ type }}    		
    	</div>
  </body>
</html>
