<!DOCTYPE html>
<html>
  <head>
    <title>INDEX | mock-HTH</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background:#f9f9f9">
    <h3 style="margin-left:16px">Ongoing Projects and Approved Tools</h3>
    
    <div>
      {{#current}}
      	<div style="background:#fff;margin-bottom:8px;margin-left:16px;padding:16px">
  	    	<h2>
  	    		<a href="/entry?id={{ _id }}">{{ title }}</a>
  	    	</h2> 		
      	</div>
     	{{/current}}
    </div>

  </body>
</html>
