<!DOCTYPE html>
<html>
    <head>
        <title>LABS</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <h3>This is the Labs Page</h3>



    </body>
</html>
